.red{
    color: red !important;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html{
    scroll-behavior: smooth;
  }
  body {
    overflow-x: hidden;
  }
  p {
    font-size: 16px;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  ul {
    list-style-type: none;
  }
  .d-none {
    display: none;
  }
  .py-80 {
    padding: 80px 0;
  }
  
  .py-60 {
    padding: 60px 0;
  }